load auto_add_route
load alias

alias del rm
alias handler use exploit/multi/handler

setg TimestampOutput true
setg VERBOSE true
setg ExitOnSession false
setg EnableStageEncoding true
setg LHOST 0.0.0.0
setg LPORT 443
setg AutoRunScript 'multi_console_command -rc "~/.msf4/msf_autorunscript.rc"'
